body {
	background-color:#3ced28;
	text-align: center;
	color: black;
}

h1{
	color: black;
	font-family:sans-serif;
	border: 2px solid black;
	border-radius: 100%;
	background: #85898f;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

ul.a {
  list-style-type: square;
  /*position: ;*/
}