body {
	background-color:#e3e2d1;
	text-align: center;
	color: black;
}

h1{
	color: black;
	font-family:sans-serif;
	border: 3px solid black;
	border-radius: 100%;
	background: #85898f;
	padding-top: 7px;
	padding-bottom: 7px;
	
}
	
h2 {
	 color: black;
  text-decoration: none;
  font-family:sans-serif;
	border: 3px solid black;
	border-radius: 100%;
	background: #85898f;
	padding-top: 20px;

	}	
	/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
  /*font-family:sans-serif;
	border: 2px solid black;
	border-radius: 100%;
	background: #85898f;
	width: 40px;*/

}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #3ced28;
  font-family: PLayfair Display SC;
}